.aside
  width 315px

  background-color #ffffff

.aside__headline-wrap
  padding 22px
  padding-right 0
  
  background-color #e83e1a
  box-shadow 0px 2px 7px -3px rgba(0,0,0,0.75)
  
.aside__burder
  width 32px
  height 22px
  margin-right 20px
  .burger
    width 32px
    height 22px
    
    fill #ffffff
    
.aside__headline
  font-family 'Proxima-Nova-Rg'
  font-size 29px
  line-height 34px
  font-weight 700
  color #ffffff
  
.aside__tel
  padding 15px 0
  
  font-family 'Lato'
  font-size 27px
  line-height 32px
  font-weight 900
  color #333640
  
.aside__content-wrap
  padding 0 5px
  
.aside__choose-text
  padding-top 10px
  padding-left 10px
  padding-bottom 10px
  
  font-size 19px
  line-height 23px
  color #333640
  font-weight #333640
  
  border 1px solid #e7e7e7
  border-left none
  border-right none
  
.aside__choose-list
  margin-bottom 15px
  padding-top 10px
  padding-bottom 25px
  
  border-bottom 1px solid #e7e7e7
  
.aside__choose-items
  margin-bottom 25px
  padding-left 10px
  padding-right 10px
  &:last-child
    margin-bottom 0
  &--title
    margin-bottom 20px
  
.aside__choose-item-title
  font-size 15px
  line-height 18px
  color #333640
  &--green
    color #23d558
    
.aside__choose-item-link
  margin-right 15px
  &:hover
    .aside__choose-item-link-label-indicator
      border-color #e93e1b
    
.aside__choose-item-link-label
  position relative
  
  padding-left 32px
  
  font-size 17px
  line-height 20px
  color #333640
  
.aside__choose-item-link-label-indicator
  position absolute
  top 0
  left 0
  bottom 0
  
  box-sizing border-box
  width 22px
  height 22px
  
  border 2px solid #dcdcdc
  border-radius 3px
  
  transition 0.2s ease
  &--active
    background-color #e93e1b
    
    border-color #e93e1b
    &::before,
    &::after
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      
      content: '';
      
      height: 2px;
      background-color: #fdfaef;
    &::before
      right: 11px;
      bottom: -3px;
      width: 45%;
      transform: rotate(45deg)
    &::after
      right: -5px;
      bottom: 2px;
      width: 85%;

      transform: rotate(-45deg);
      
.aside__choose-item-border
  border-bottom 1px dashed #dcdcdc
  
  transform translateY(-6px)
  
.aside__choose-item-appartment-text
  margin-left 15px
  
  font-size 19px
  line-height 23px
  font-weight 700
  color #23d558
  span
    margin-left 5px
    
    font-size 15px
    line-height 18px
    font-weight 400
    
.aside__submin-button-wrap
  padding 0 10px
    
.aside__submin-button
  box-sizing border-box
  width 100%
  padding 12px 10px
  
  font-size 19px
  line-height 23px
  font-weight 700
  color #ffffff
  
  background-color #32d35e
  
  border-radius 5px
  
  transition 0.2s ease
  &:hover
    background-color #42B273
  &--house-footer
    width auto
    padding 0
    
    font-size 23px
    line-height 26px
    &:hover
      background-color #32d35e
    
@media(max-width 1720px)
  .aside__headline
    font-size: 22px;
    line-height 25px
    
  .aside__tel
    font-size: 21px;
    line-height 24px
    
  .aside__choose-text
    font-size: 16px;
    line-height 19px
    
  .aside__choose-item-title
    font-size 14px
    line-height 17px
    
  .aside__choose-item-link-label
    font-size 15px
    line-height 18px
    
  .aside__choose-item-appartment-text
    font-size 16px
    line-height 19px
    span
      font-size 12px
      line-height 15px
      
  .aside__submin-button
    font-size 15px
    line-height 18px
    
@media(max-width 1570px)
  .aside
    position fixed
    top 0
    left 0
    bottom 0
    z-index 40
    
    margin auto
    
    background-color #ffffff
    &--close
      width 68px
      
      background-color transparent
      .aside__headline-wrap
        padding 0
      .aside__burder
        margin-right 0
        padding 15px
      .aside__headline
        height 0
        
        opacity 0
      .aside__content
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
  
  .aside__burder
    cursor pointer
    
@media(max-width 420px)
  .aside
    &--close
      width 62px
      
@media(max-width 320px)
  .aside
    right 0
    
    width auto
    &--close
      right auto
      
      width 62px

